<div>
    <h1 class="text-info pt-4">
        Congratulations! You are one step closer to geek lifestyle.
    </h1>

    <p class="pb-3">
        We have received your order and your payment will be processed soon!
    </p>

    <img src="/images/order.png" class="img-fluid" alt="May the force be with you" />
</div>